fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
email-validator
authlib
httpx
python-multipart
httpx
starlette
itsdangerous
pytest
routers
